<section class="about-me">
    <h2 class="mt-0">Hello 👋</h2>

    <p>
        I'm Tanmay Patel. Born and brought up in joyful city of Surat, India and currently working as a <em>Technical Lead</em> for the Web and Customer Experience teams at <a href="https://www.hyke.ai/" target="_blank" rel="noopener">Hyke</a>. I am
        currently based in <em>Dubai</em>. My work revolves around building <em>Web Applications and GraphQL &amp; Web APIs using React and Node.js</em>, and helping my teams effectively do the same.
    </p>
    <p>While not in front of screens, I like to read books or spend time walking under open sky.</p>
</section>
