<section class="about-me">
  <h2>Hello, Good Morning</h2>

  <p>
    I'm Tanmay Patel. Born and brought up in joyful city of Surat, India and
    currently working as a Lead UI Developer, and a hobbyist Designer, as an
    on-site consultant from TATA Consultancy Services in Dubai. My work revolves
    around making Web Applications and Hybrid Mobile Apps using HTML
    Technologies, and creating environment which helps my team efficiently doing
    the same. As a JavaScript enthusiast, I have also worked with Node.js for
    some experiments and some (in-progress) side projects. Some features I
    strive for while creating applications are - Consistent, Delightful,
    Offline-first, Mobile-first, Real-time & Multi- sensory. While not in front
    of screens, I like to read books or spend time under open sky.
  </p>
</section>
