<div id="career" class="section career">
    <h2 class="section-heading">My Career so far,</h2>
    <div class="section-body">
        <div class="section-content-block career-entity hyke">
            <h3 class="career-entity-heading">
                <span class="designation">Tech Lead (Web and Customer Experience)</span>
                <span class="organization">at Hyke</span>
            </h3>
            <h4 class="career-entity-duration">
                <span class="from">From Jul 2022</span>
                <span class="to"></span>
            </h4>
            <div class="career-entiry-body">
                <ul class="list-emdashed">
                    <li><em>Led a cross-functional, agile, product-oriented tech team of 10+ people</em> in charge of improving the experience of our Suppliers</li>
                    <li>Responsible for <em>discovering, planning, and delivering products and features</em> in a fast, flexible and incremental manner, while measuring their impact on business and correcting the course</li>
                    <li>Launched a brand new App for our Suppliers, <em>reducing the time to update their inventory from 2-3 hours to instant</em>, and better visibility by removing dependency on the Ops teams.</li>
                    <li>Part of the team responsible for discovering initiatives to manage products sold on the Platform. Have designed and led a solution that <em>reduced the time it took to list new products from a few days to a few hours</em>.</li>
                </ul>
            </div>
        </div>
        <div class="section-content-block career-entity hyke">
            <h3 class="career-entity-heading">
                <span class="designation">Lead Front-end Developer</span>
                <span class="organization">at Hyke</span>
            </h3>
            <h4 class="career-entity-duration">
                <span class="from">From Oct 2019</span>
                <span class="to">to Jul 2022</span>
            </h4>
            <div class="career-entiry-body">
                <ul class="list-emdashed">
                    <li>My team was responsible for <em>the missing critical Web Apps</em> being used by Ops Teams - both in the office and on the field</li>
                    <li>Created a <em>Design & Style System and Component Library</em> for our Web Apps based on <em>Styled System for Design Tokens, Sass and Emotion for Styling</em>, and Chakra UI to base our components on</li>
                    <li>We have also <em>built the GraphQL API</em> for our platform, handling more than 200 requests/minute during peak hours</li>
                    <li><em>Ideated and built a product</em> by repurposing the GraphQL API and existing components, that <em>increased the support team’s efficiency by 50% in 3 months</em>!</li>
                </ul>
            </div>
        </div>
        <div class="section-content-block career-entity sell-any-car">
            <h3 class="career-entity-heading">
                <span class="designation">Senior Software Engineer</span>
                <span class="organization">at SellAnyCar.com</span>
            </h3>
            <h4 class="career-entity-duration">
                <span class="from">From Sep 2018</span>
                <span class="to">to Sep 2019</span>
            </h4>
            <div class="career-entiry-body">
                <ul class="list-emdashed">
                    <li>Hired to work on Node.js. Then also <em>led the Front-end Team responsible for our Web and Mobile Apps</em></li>
                    <li>Part of the team responsible to move the core platform to <em>Cloud-Native Microservice Architecture</em></li>
                    <li><em>Headed the modernization of Front-end Architecture</em> to use Redux with Container & Presentational Components</li>
                    <li>Have created one of the first <em>Serverless Web API</em> which runs on <em>AWS Lambda with Node.js</em></li>
                    <li>Expanded my competencies on <em>Docker, Test-Driven Development, CI/CD, and AWS</em> during my tenure here</li>
                </ul>
            </div>
        </div>
        <div class="section-content-block career-entity tcs-ge">
            <h3 class="career-entity-heading">
                <span class="designation">On-site Team Lead</span>
                <span class="organization">at GE Digital (from TATA Consultancy Services)</span>
            </h3>
            <h4 class="career-entity-duration">
                <span class="from">From Feb 2016</span>
                <span class="to">to Jan 2018</span>
            </h4>
            <div class="career-entiry-body">
                <ul class="list-emdashed">
                    <li><em>Led end-to-end implementation</em> with the Offshore Team acting as a bridge to the Customers</li>
                    <li>Part of one of the first teams to create products on <em>Predix, GE’s own Cloud</em></li>
                    <li>Created an optimization tool to <em>improve Field Engineers’ utilization algorithmically</em> by reducing bench time, improving travel compliance</li>
                    <li>Created a Cloud-based Sourcing product, geared towards external customers, to make sourcing fast and more collaborative</li>
                    <li>Implemented a <em>system of Web, Mobile and ETL applications</em> increasing in-transit visibility of parts by repairs team, with actionable highlights improving team’s engagement</li>
                </ul>
            </div>
        </div>
        <div class="section-content-block career-entity tcs">
            <h3 class="career-entity-heading">
                <span class="designation">Technical Lead</span>
                <span class="organization">at TATA Consultancy Services</span>
            </h3>
            <h4 class="career-entity-duration">
                <span class="from">From Jan 2013</span>
                <span class="to">to Apr 2018</span>
            </h4>
            <div class="career-entiry-body">
                <ul class="list-emdashed">
                    <li>Hired as a Senior Front-end Developer, and quickly started <em>leading the Front-end Team</em></li>
                    <li>Worked as a consultant for General Electric, to <em>realize and implement Digital Solutions</em> for their Enterprise Processes</li>
                    <li>By grooming the team with trending technologies and proven practices, we were able to be a <em>small but a benchmark team showcasing speed and cutting edge</em> of Front-end Development</li>
                    <li>During initial years, have <em>created a custom framework and a seed project with Backbone, React and Grunt</em> which can be used with Bootstrap or jQuery Mobile</li>
                    <li>Introduced a configurable and re-usable <em>Theme Engine using SASS/LESS</em></li>
                    <li>Expanded my competencies to other areas like <em>Hybrid Mobile Apps, Integrations, RESTful Web APIs and Cloud</em> during my tenure here</li>
                </ul>
            </div>
        </div>
        <div class="section-content-block career-entity hurix">
            <h3 class="career-entity-heading">
                <span class="designation">Senior Software Engineer</span>
                <span class="organization">at Hurix Systems Pvt. Ltd.</span>
            </h3>
            <h4 class="career-entity-duration">
                <span class="from">From Aug 2010</span>
                <span class="to">to Jan 2013</span>
            </h4>
            <div class="career-entiry-body">
                <p>
                    <ul class="list-emdashed">
                        <li>Worked in their Product Development Group which was responsible for their <em>e-learning content authoring product – Dictera</em>, which was offered on the <em>Flash Platform</em></li>
                        <li>With the rise of Mobile and Tablets, was part of the team who were responsible to <em>transform a part of the product to HTML 5 Technologies</em>, while making it compatible across devices</li>
                        <li>Leveraging experience from Flash Platform, <em>created a modular architecture using Backbone.js and, jQuery UI</em>, with encapsulated activities which can be loaded at runtime</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="section-content-block career-entity avinashi">
            <h3 class="career-entity-heading">
                <span class="designation">Flash Platform Developer</span>
                <span class="organization">at Avinashi Systems Pvt. Ltd.</span>
            </h3>
            <h4 class="career-entity-duration">
                <span class="from">From Aug 2008</span>
                <span class="to">to Aug 2010</span>
            </h4>
            <div class="career-entiry-body">
                <p>
                    <ul class="list-emdashed">
                        <li>Having tasted <em>the power of Flash/Flex</em> during my college, and finding a company sharing a similar passion for the Flash Platform, <em>started my career</em> in technology with them</li>
                        <li>Have worked on projects involving <em>hardware integration, multi-client applications</em> and, creating custom user-interactions</li>
                        <li>Have learned the <em>importance of Frameworks</em> there and helped them to choose one which is flexible across different Flash Technologies – <em>Adobe Flash, Adobe Flex and, Adobe AIR</em></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="education" class="section education">
    <h2 class="section-heading">My Highest Education,</h2>
    <div class="section-body">
        <div class="section-content-block education-entity graduation">
            <h3 class="education-entity-heading">
                <span class="grade">Bachelor of Engineering</span>
                <span class="course">in Computers</span>
            </h3>
            <h4 class="education-entity-duration">
                <span class="from">From 2003</span>
                <span class="to">to 2008</span>
            </h4>
            <div class="education-entiry-body">
                <p>From <em>Veer Narmad South Gujarat University</em>. Have got the <em>1st rank in my college</em> in Computer Engineering Department during the final year.</p>
            </div>
        </div>
    </div>
</div>

<style lang="scss">
    .organization {
        @apply text-gray-300;
    }

    .career-entity-duration {
        @apply text-gray-400;
    }
</style>
