<div id="career-and-education" class="section career-and-education">
  <h2 class="section-heading">My Career and Education so far,</h2>
  <div class="section-body">
    <div class="section-content-block career-entity hyke">
      <h3 class="career-entity-heading">
        <span class="designation">Tech Lead (Web and Customer Experience)</span>
        <span class="organization">at Hyke</span>
      </h3>
      <h4 class="career-entity-duration">
        <span class="from">From Jul 2022</span>
        <span class="to"></span>
      </h4>
      <div class="career-entiry-body">
        <ul>
          <li>
            Led a cross-functional, agile, product-oriented tech team of 10+
            people in charge of improving the experience of our Suppliers
          </li>
          <li>
            Responsible for discovering, planning, and delivering products and
            features in a fast, flexible and incremental manner, while measuring
            their impact on business and correcting the course
          </li>
          <li>
            Launched a brand new App for our Suppliers, reducing the time to
            update their inventory from 2-3 hours to instant, and better
            visibility by removing dependency on the Ops teams.
          </li>
          <li>
            Part of the team responsible for discovering initiatives to manage
            products sold on the Platform. Have designed and led a solution that
            reduced the time it took to list new products from a few days to a
            few hours.
          </li>
        </ul>
      </div>
    </div>
    <div class="section-content-block career-entity hyke">
      <h3 class="career-entity-heading">
        <span class="designation">Lead Front-end Developer</span>
        <span class="organization">at Hyke</span>
      </h3>
      <h4 class="career-entity-duration">
        <span class="from">From Oct 2019</span>
        <span class="to">to Jul 2022</span>
      </h4>
      <div class="career-entiry-body">
        <ul>
          <li>
            My team was responsible for the missing critical Web App being used
            by Ops Teams - both in the office and on the field
          </li>
          <li>
            Created a Design System and Component Library for our Web Apps based
            on Styled System for Design Tokens, SASS and Emotion for Styling,
            and Chakra UI to base our components on
          </li>
          <li>
            We have also built the GraphQL API for our platform, handling more
            than 200 requests/minute during peak hours
          </li>
          <li>
            Ideated and built a product by repurposing the GraphQL API and
            existing components, that increased the support team’s efficiency by
            50% in 3 months!
          </li>
          <li>
            Responsible for hiring and developing the Web Team with great sense
            of empowerment and ownership
          </li>
        </ul>
      </div>
    </div>
    <div class="section-content-block career-entity sell-any-car">
      <h3 class="career-entity-heading">
        <span class="designation">Senior Software Engineer</span>
        <span class="organization">at SellAnyCar.com</span>
      </h3>
      <h4 class="career-entity-duration">
        <span class="from">From Sep 2018</span>
        <span class="to">to Sep 2019</span>
      </h4>
      <div class="career-entiry-body">
        <ul>
          <li>Hired to work on Node.js. Now also leading the Front-end Team</li>
          <li>
            Part of the team responsible to move the core platform to
            Cloud-Native Microservice Architecture
          </li>
          <li>
            Heading modernization of Front-end Architecture to use Redux with
            Container & Presentational Components
          </li>
          <li>
            Have created one of the first Serverless Web API which runs on AWS
            Lambda with Node.js
          </li>
          <li>
            Expanded my competencies on Docker, Test-Driven Development, CI/CD,
            and AWS during my tenure here
          </li>
        </ul>
      </div>
    </div>
    <div class="section-content-block career-entity tcs-ge">
      <h3 class="career-entity-heading">
        <span class="designation">Onsite Consultant</span>
        <span class="organization"
          >at GE Digital (from TATA Consultancy Services)</span
        >
      </h3>
      <h4 class="career-entity-duration">
        <span class="from">From Feb 2016</span>
        <span class="to">to Jan 2018</span>
      </h4>
      <div class="career-entiry-body">
        <ul>
          <li>Deputed as On-site Technical Consultant from TCS</li>
          <li>
            Led Offshore Technical Team while acting as a bridge between them
            and Customers
          </li>
          <li>
            Part of one of the first teams to create products on Predix, GE’s
            own Cloud
          </li>
          <li>
            Created an optimization tool to improve Field Engineers’ utilization
            algorithmically by reducing bench time, improving travel compliance
          </li>
          <li>
            Created a Cloud-based Sourcing product, geared towards external
            customers, to make sourcing fast and more collaborative
          </li>
          <li>
            Implemented a system of Web, Mobile and ETL applications increasing
            in-transit visibility of parts
          </li>
          <li>
            by repairs team, with actionable highlights improving team’s
            engagement
          </li>
        </ul>
      </div>
    </div>
    <div class="section-content-block career-entity tcs">
      <h3 class="career-entity-heading">
        <span class="designation">Assistant Consultant</span>
        <span class="organization">at TATA Consultancy Services</span>
      </h3>
      <h4 class="career-entity-duration">
        <span class="from">From Jan 2013</span>
        <span class="to">to Apr 2018</span>
      </h4>
      <div class="career-entiry-body">
        <ul>
          <li>
            Hired as a Senior Front-end Developer, and quickly started leading
            the Front-end Team
          </li>
          <li>
            Worked as a consultant for GE, to realize and implement Digital
            Solutions for their Enterprise Processes
          </li>
          <li>
            By grooming the team with trending technologies and proven
            practices, we were able to be a small but a benchmark team
            showcasing speed and cutting edge of Front-end Development
          </li>
          <li>
            During initial years, have created a custom framework and a seed
            project with Backbone, React and Grunt which can be used with
            Bootstrap or jQuery Mobile
          </li>
          <li>
            Introduced a configurable and re-usable Theme Engine using SASS/LESS
          </li>
          <li>
            Expanded my competencies to other areas like Hybrid Mobile Apps,
            Integrations, RESTful Web APIs and Cloud during my tenure here
          </li>
        </ul>
      </div>
    </div>
    <div class="section-content-block career-entity hurix">
      <h3 class="career-entity-heading">
        <span class="designation">Senior Software Engineer</span>
        <span class="organization">at Hurix Systems Pvt. Ltd.</span>
      </h3>
      <h4 class="career-entity-duration">
        <span class="from">From Aug 2010</span>
        <span class="to">to Jan 2013</span>
      </h4>
      <div class="career-entiry-body">
        <p>
          After working in Surat for exactly 2 years, I moved to Mumbai, to work
          with Hurix on their product named <em>Dictera</em> - a content authoring,
          management and publishing platform, <em>powered by Flash Platform</em>
          at that time. After initially working on its Flex-based Authoring tool,
          I have played a major role in <em
            >transforming the publishing platform to be HTML-based</em
          > along with addition of support for Mobile devices with their rise in
          education. By bringing my <em>perspective from previous experience</em
          > with large and interactive applications in Flash and ActionScript, we
          were able quickly convert existing Flash-based activities to HTML.
        </p>
      </div>
    </div>
    <div class="section-content-block career-entity avinashi">
      <h3 class="career-entity-heading">
        <span class="designation">Flash Platform Developer</span>
        <span class="organization">at Avinashi Systems Pvt. Ltd.</span>
      </h3>
      <h4 class="career-entity-duration">
        <span class="from">From Aug 2008</span>
        <span class="to">to Aug 2010</span>
      </h4>
      <div class="career-entiry-body">
        <p>
          With some existing knowledge showcased by my final year <em
            >academics project - Mix d'Pix</em
          > - and my passion for the Flash Platform, I started my career in Avinashi,
          to sharpen my skills in my <em>dream technology</em>. I was part of
          their <em>FlashBrain team</em>, who has similar passion for Flash
          Platform. With their support, I ramped up on how to handle large
          projects technically and how some known frameworks and patterns can
          help us along the line. I was lucky enough to be able to work on
          projects involving <em
            >hardware integration, multi-client applications and real-time
            communication</em
          > before they were norm.
        </p>
      </div>
    </div>
    <div class="section-content-block education-entity graduation">
      <h3 class="education-entity-heading">
        <span class="grade">First Class with Distinction</span>
        <span class="course">in B.E. Computer Science</span>
      </h3>
      <h4 class="education-entity-duration">
        <span class="from">From 2003</span>
        <span class="to">to 2008</span>
      </h4>
      <div class="education-entiry-body">
        <p>
          From Veer Narmad South Gujarat University with 76.83%. Have got the
          1st rank in my college in Computer Engineering Department during the
          final year.
        </p>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .organization {
    @apply text-gray-300;
  }

  .career-entity-duration {
    @apply text-gray-400;
  }
</style>
