---
const { default: logoSVG } = await import(`/src/assets/images/logo.svg?raw`);
---

<div class="container--hero lg:text-center">
  <div class="wrapper--hero">
    <span class="wrapper--logo">
      <Fragment set:html={logoSVG} />
    </span>
    <h1 class="hero__name">
      <span class="hero__first-name">Tanmay</span>
      <span class="hero__family-name">Patel</span>
    </h1>
  </div>
  <p class="wrapper--hero-purpose">
    <span class="what-hero-does">A Product-minded Web Tech Lead</span>
    <span class="since-how-long"
      >building effective, performant and responsive Web Apps</span
    >
  </p>
</div>

<style lang="scss">
  .wrapper--logo {
    @apply inline-block w-1/2;
  }

  .tanmay-patel-emblem {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    use.emblem-cover {
      fill: #2b2b2b;
    }

    &.masked-to-see-through-logo {
      use.emblem-cover {
        mask: url(#mask-to-see-through-logo);
      }
    }
  }
</style>
