<div id="meta" class="section meta">
  <h2 class="section-heading">About This Site!</h2>
  <div class="section-body">
    <div class="section-content-block geeky-site-bragging">
      <p>
        This site was coded in <a
          href="https://atom.io/"
          target="_blank"
          rel="noopener">Atom</a
        > and generated using <a
          href="http://www.metalsmith.io/"
          target="_blank"
          rel="noopener">Metalsmith</a
        > - a static site generator running on <a
          href="https://nodejs.org/"
          target="_blank"
          rel="noopener">Node.js</a
        >. Template engine used for layout and partials is <a
          href="https://mozilla.github.io/nunjucks/"
          target="_blank"
          rel="noopener">Nunjucks</a
        >. Styling is powered by <a
          href="http://lesscss.org/"
          target="_blank"
          rel="noopener">LESS</a
        > as CSS pre-processor, Responsive Grid Mixins from <a
          href="http://getbootstrap.com/"
          target="_blank"
          rel="noopener">Bootstrap</a
        > and <a
          href="http://lesshat.madebysource.com/"
          target="_blank"
          rel="noopener">LESS hat</a
        > mixin library, with textured background from <a
          href="http://subtlepatterns.com/"
          target="_blank"
          rel="noopener">Subtle Patterns</a
        >. The emblem is created in SVG and its animations are done using <a
          href="http://greensock.com/gsap"
          target="_blank"
          rel="noopener">GreenSock's TweenLite &amp Friends</a
        >. Scrolling mechanism is implemeted using <a
          href="http://greensock.com/gsap"
          target="_blank"
          rel="noopener">TweenLite</a
        >, <a href="https://jquery.com/" target="_blank" rel="noopener"
          >jQuery</a
        > and <a href="http://getbootstrap.com/" target="_blank" rel="noopener"
          >Bootstrap's</a
        > ScrollSpy plugin, with some help of magical but still proposed <a
          href="https://developers.google.com/web/updates/2015/09/history-api-scroll-restoration"
          target="_blank"
          rel="noopener">Scroll Restoration</a
        > feature of <a
          href="https://www.google.com/chrome/"
          target="_blank"
          rel="noopener">Chrome</a
        >. Most JavaScript files are loaded at runtime with <a
          href="http://requirejs.org/"
          target="_blank"
          rel="noopener">RequireJS</a
        > as an AMD Loader to speed up initial loading. Fonts used in the site are
        Roboto, Roboto Slab and Lato, being loaded from <a
          href="https://www.google.com/fonts"
          target="_blank"
          rel="noopener">Google Fonts</a
        > and the icons used are from <a
          href="http://fontawesome.io/"
          target="_blank"
          rel="noopener">FontAweome</a
        >!
      </p>
      <p>
        Site is hosted on <a
          href="https://pages.github.com/"
          target="_blank"
          rel="noopener">GitHub Pages</a
        > mapped to domain purchased from <a
          href="https://www.name.com/"
          target="_blank"
          rel="noopener">name.com</a
        >. It is sitting behind <a
          href="https://www.name.com/"
          target="_blank"
          rel="noopener">Cloudflare</a
        > for performance improvement and security.
      </p>
    </div>
    <div class="section-content-block archive">
      <h3 class="archive-heading">Archive</h3>
      <p>
        Previous versions of my site can be found here - <a
          href="archive/v1.tanmaypatel.com/"
          target="_blank"
          rel="noopener">Version 1</a
        > and <a
          href="archive/v2.tanmaypatel.com/"
          target="_blank"
          rel="noopener">Version 2</a
        >.
      </p>
    </div>
  </div>
</div>
