<div id="meta" class="section meta">
    <h2 class="section-heading">About This Site!</h2>
    <div class="section-body">
        <div class="section-content-block geeky-site-bragging">
            <p>
                This website is built using <a href="https://astro.build/" target="_blank" rel="noopener">Astro 2.0</a> was coded using da facto <a href="https://code.visualstudio.com/" target="_blank" rel="noopener">Visual Studio Code</a>. Styling is
                powered by <a href="https://tailwindcss.com/" target="_blank" rel="noopener">tailwindcss</a> along with <a href="https://sass-lang.com/" target="_blank" rel="noopener">Sass</a> as the CSS pre-processor, with textured background from <a
                    href="http://subtlepatterns.com/"
                    target="_blank"
                    rel="noopener">Subtle Patterns</a
                >. The emblem is created in SVG and its animations are done using <a href="https://greensock.com/gsap" target="_blank" rel="noopener">GreenSock's TweenLite &amp Friends</a>. Fonts used in the site are <a
                    href="https://fonts.google.com/specimen/Roboto"
                    target="_blank"
                    rel="noopener">Roboto</a
                >, <a href="https://fonts.google.com/specimen/Roboto+Slab" target="_blank" rel="noopener">Roboto Slab</a> and <a href="https://fonts.google.com/specimen/Lato" target="_blank" rel="noopener">Lato</a>, being loaded using <a
                    href="https://fontsource.org/"
                    target="_blank"
                    rel="noopener">Fontsource</a
                > and the icons used are from <a href="https://fontawesome.com/" target="_blank" rel="noopener">FontAweome</a>!
            </p>
            <p>
                Site is hosted on <a href="https://pages.cloudflare.com/" target="_blank" rel="noopener">Cloudflare Pages</a> mapped to the domain name configured on <a href="https://www.cloudflare.com/" target="_blank" rel="noopener">Cloudflare</a> for performance
                improvement and security.
            </p>
        </div>
        <div class="section-content-block archive">
            <h3 class="archive-heading">Archive</h3>
            <p>
                Previous versions of my site can be found here - <a href="https://v1.tanmaypatel.com/" target="_blank" rel="noopener">Version 1</a> and <a href="https://v2.tanmaypatel.com/" target="_blank" rel="noopener">Version 2</a>.
            </p>
        </div>
    </div>
</div>
