<div id="notable-projects" class="section notable-projects">
    <h2 class="section-heading">A few projects I've worked upon,</h2>
    <div class="section-body">
        <div class="section-content-block project-entity equiptrak">
            <h3 class="project-entity-heading">
                <span class="project-name">EquipTrak</span>
                <span class="project-tagline">Equipment inventory on the go</span>
            </h3>
            <div class="project-description">
                <p>
                    A mobile application, along with a companion web application, for maintaining inventory of equipments for a project and site. The application helped in standerdizing and optimizing the process of scrapping or transferring assets between
                    sites by digitizing it and requiring users to capture actual data using device's sensors.
                </p>
            </div>
        </div>
        <div class="section-content-block project-entity partsbook">
            <h3 class="project-entity-heading">
                <span class="project-name">PartsBook</span>
                <span class="project-tagline">Parts management on steroids</span>
            </h3>
            <div class="project-description">
                <p>
                    A modern web application for maintaining a large catalog of parts for an industrial client. The application made use of browser data storage, JSON streaming and JSON Schema to optimize data loading performance and allowing users to
                    filter thorugh the whole dataset from a single screen. The application also implemented workflow for making changes in catalog which requires work across multiple departments.
                </p>
            </div>
        </div>
        <div class="section-content-block project-entity dictera">
            <h3 class="project-entity-heading">
                <span class="project-name">Dictera</span>
                <span class="project-tagline">Content Authoring and Publishing Platform</span>
            </h3>
            <div class="project-description">
                <p>
                    One of the most comprehensive flex-based content authoring and management platform, with some predefined templates seamlessly integrated into digital content development workflow. Dictera allows cross-platform publishing by exporting
                    HTML based output as well as standards-complient content files which can be consumed by native mobile client applications.
                </p>
            </div>
        </div>
        <div class="section-content-block project-entity sync-across">
            <h3 class="project-entity-heading">
                <span class="project-name">SyncAcross</span>
                <span class="project-tagline">Everything up to date, wherever you are</span>
            </h3>
            <div class="project-description">
                <p>SyncAcross automatically synchronizes your contacts, calendars and tasks and keeps them up to date. No matter what application you are using or where you are located, your information is always current.</p>
            </div>
        </div>
        <div class="section-content-block project-entity pq-probe">
            <h3 class="project-entity-heading">
                <span class="project-name">PQ Probe</span>
                <span class="project-tagline">Power Quality Analyzer &amp; Visualizer</span>
            </h3>
            <div class="project-description">
                <p>
                    PQProbe is a three-phase power quality analyzer which adheres to international standards and it makes detecting power problems simple thereby reduce electrical operating costs, improve system reliability and efficiency. It shows live
                    power data in graphical and textual format updating in near realtime, and also allows data to be recorded for fuurther analysis.
                </p>
            </div>
        </div>
        <div class="section-content-block project-entity mix-d-pix">
            <h3 class="project-entity-heading">
                <span class="project-name">Mix D'Pix</span>
                <span class="project-tagline">Image Editing Online</span>
            </h3>
            <div class="project-description">
                <p>A Flash-based Online Image Editor RIA that facilitates user to perform basic and intermediate level of Image Editing functionality within their browser anytime, anywhere.</p>
            </div>
        </div>
    </div>
</div>
