<Fragment>
  <div class="action-bar-wrapper">
    <div class="action-bar">
      <button class="btn-toggle-aside" type="button" role="button">
        <span class="lines"></span>
      </button>
    </div>
  </div>

  <nav class="navigation-bar-wrapper">
    <ul class="navigation-bar nav">
      <li role="presentation" class="active">
        <a href="#about-me">About Me</a>
      </li>
      <li role="presentation"><a href="#skills">Skills</a></li>
      <li role="presentation">
        <a href="#career-and-education">Career &amp; Education</a>
      </li>
      <li role="presentation">
        <a href="#notable-projects">Notable Projects</a>
      </li>
      <li role="presentation"><a href="#meta">Meta!</a></li>
    </ul>
  </nav>

  <div class="offer-to-download-resume">
    <a
      href="assets/resume/Tanmay Patel - UI Developer.pdf"
      class="dowload-resume"
      target="_blank"
    >
      <i class="fa fa-download"></i> Download Resume
    </a>
  </div>

  <div class="social-connections-wrapper">
    <ul class="social-connections-navigation-bar">
      <li role="presentation">
        <a
          href="https://linkedin.com/in/tanmaypatel"
          class="social-link linkedin"
          target="_blank"
        >
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li role="presentation">
        <a
          href="https://twitter.com/tanmaypatel"
          class="social-link twitter"
          target="_blank"
        >
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li role="presentation">
        <a
          href="https://facebook.com/tanmay.patel"
          class="social-link facebook"
          target="_blank"
        >
          <i class="fa fa-facebook-official"></i>
        </a>
      </li>
      <li role="presentation">
        <a
          href="https://github.com/tanmaypatel"
          class="social-link github"
          target="_blank"
        >
          <i class="fa fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
</Fragment>
