<div id="summary" class="section summary">
  <h2 class="section-heading">Professional Summary,</h2>
  <div class="section-body">
    <div class="section-content-block">
      <ul>
        <li>
          10+ Years of experience with Web Technologies, from no framework to
          flood of frameworks & tools!
        </li>
        <li>
          Has built products which simplified and enhanced of organization’s
          operations via Web and Mobile Apps seamlessly integrating and
          enhancing existing tools and data
        </li>
        <li>
          Focus on cohesive User Experience, while maintaining effective
          Developer Experience
        </li>
        <li>
          Led the cross-functional agile team of 10+ People, enabling them to
          build products that adds value
        </li>
        <li>
          Curious and growth mindset to challenge the status quo, experiment and
          deliver incremental value
        </li>
        <li>
          Interested in product design, which has given me the ability to
          explore, ideate, validate and then build solutions
        </li>
      </ul>
    </div>
  </div>
</div>
