<div id="summary" class="section summary">
    <h2 class="section-heading">Career Summary,</h2>
    <div class="section-body">
        <div class="section-content-block">
            <ul class="list-emdashed">
                <li>
                    <em>10+ Years of experience with Web Technologies</em>, from no framework to flood of frameworks & tools!
                </li>
                <li>Has built products which <em>simplified and enhanced of organization’s operations via Web and Mobile Apps</em> seamlessly integrating and enhancing existing tools and data</li>
                <li>Focus on <em>cohesive User Experience</em>, while maintaining effective Developer Experience</li>
                <li><em>Led the cross-functional agile team of 10+ People</em>, enabling them to build products that adds value</li>
                <li><em>Curious and growth mindset</em> to <em>challenge the status quo</em>, experiment and deliver incremental value</li>
                <li><em>Interested in Product Design</em>, which has given me the <em>ability to explore, ideate, validate and then build</em> solutions</li>
            </ul>
        </div>
    </div>
</div>
