---
import "@fontsource/lato";
import "@fontsource/lato/900.css";
import "@fontsource/lato/700.css";
import "@fontsource/roboto";
import "@fontsource/roboto-slab";
import "@fontsource/source-code-pro";

import BaseHead from "../components/BaseHead.astro";
import Intro from "../components/Intro.astro";
import Sidebar from "../components/Sidebar.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import "../styles/base.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="max-w-none">
    <div class="grid gap-4 lg:grid-cols-12 grid-cols-1">
      <header class="lg:col-span-3">
        <div class="lg:sticky lg:top-0 lg:pt-16">
          <Intro />
        </div>
      </header>
      <main class="lg:col-span-6">
        <div
          class="lg:my-24 px-8 py-4 bg-white shadow-md border-t-2 border-sky-400"
        >
          <slot />
        </div>
      </main>
      <aside class="lg:col-span-3">
        <div class="lg:sticky lg:top-0 lg:pt-16">
          <Sidebar />
        </div>
      </aside>
    </div>
    <style lang="scss" is:global>
      body {
        @apply lg:bg-default-background-pattern m-0 h-full;
      }
    </style>
  </body>
</html>
